{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
<div class="form-group">
    <label for="min-date" class="col-sm-4 control-label">{{ 'Sail Izena' | trans }}</label>
    <div class="col-sm-7">
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
{{ form_end(form) }}
